In [12]:
#importing pandas and numpy modules
import pandas as pd
import numpy as np

In [19]:
from numpy import array # importing module array
data1=np.array([1,2,4,5,67,78]) # setting up an array
#data1
# slicing data 
data1[0:2]

array([1, 2])

In [22]:
#2-D data
data2=array([[3,4,5],[5,6,7],["win","name","Gatua"]])
data2
# slicing a 2d data
data2[2,2] # gets to the second miniarray and picks second entry **Gatua**

'Gatua'

In [41]:
#reading data
from sklearn.preprocessing import MinMaxScaler
from pandas import read_csv
attaributes= ['Hours','Mark']
dataread=pd.read_csv("datapd.csv",names=attaributes)
# rescaling data
array=dataread.values
Ind_values=array[:,0:1]
dep_values=array[:,1]
#print(Ind_values)
#print(dep_values)
# preprocessing technique
scaler=MinMaxScaler(feature_range=(0,1))
rescaledX=scaler.fit_transform(Ind_values)

ValueError: could not convert string to float: 'Hours'

In [46]:
dataread
mean_data=dataread.mean()

TypeError: unhashable type: 'list'

In [45]:
mean_data

Series([], dtype: float64)

In [3]:
import pandas as pd
data1=pd.read_csv("/Users/wgatua/Downloads/train.csv")

In [5]:
data1.describe() #get a summary of my dataframe

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
data1.info() # assessing for missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
data1["Name"].sample(25)

283                        Dorking, Mr. Edward Arthur
793                          Hoyt, Mr. William Fisher
189                               Turcin, Mr. Stjepan
665                                Hickman, Mr. Lewis
351            Williams-Lambert, Mr. Fletcher Fellows
129                                Ekstrom, Mr. Johan
631                       Lundahl, Mr. Johan Svensson
216                            Honkanen, Miss. Eliina
782                            Long, Mr. Milton Clyde
187     Romaine, Mr. Charles Hallace ("Mr C Rolmane")
421                               Charters, Mr. David
842                           Serepeca, Miss. Augusta
365                    Adahl, Mr. Mauritz Nils Martin
520                             Perreault, Miss. Anne
215                           Newell, Miss. Madeleine
429                Pickard, Mr. Berk (Berk Trembisky)
444                 Johannesen-Bratthammer, Mr. Bernt
114                             Attalah, Miss. Malake
808                                 Meyer, Mr. August
730                     Allen, Miss. Elisabeth Walton
767                                Mangan, Miss. Mary
737                            Lesurer, Mr. Gustave J
328    Goldsmith, Mrs. Frank John (Emily Alice Brown)
407                    Richards, Master. William Rowe
177                        Isham, Miss. Ann Elizabeth
Name: Name, dtype: object

In [13]:
data1["Parch"].sample()

231    0
Name: Parch, dtype: int64

In [16]:
pd.notna(data1["Parch"]).describe()

count      891
unique       1
top       True
freq       891
Name: Parch, dtype: object

In [17]:
data1[pd.notna(data1["Parch"])].describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200